services:
  # Backend API Service
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DB_HOST=15.207.197.27
      - DB_PORT=3306
      - DB_USER=readonly_user
      - DB_PASSWORD=Readonly@123
      - DB_NAME=gcpl
      - REDIS_HOST=host.docker.internal
      - REDIS_PORT=6379
      - REDIS_PASSWORD=
      - REDIS_DB=0
      - REDIS_ENABLED=true
      - REDIS_DEFAULT_TTL=2000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 13G
          cpus: '3'
        reservations:
          memory: 4G

  # Frontend UI Service
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "9000:9000"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1400M
          cpus: '1'
        reservations:
          memory: 512M
