node_modules
npm-debug.log
.git
.gitignore
*.md
*.sql
*.txt
*.json
!package.json
!package-lock.json
debug_*
check_*
describe_*
diagnose_*
verify_*
test_*
test-*
inspect_*
list_*
show_*
find_*
fetch_*
reproduce_*
simulate_*
dump.rdb
migrations
